[2019-10-24 19:03] agrapine opened #4 "useFetch doesn't allow to pass init on exec"
see https://developer.mozilla.org/en-US/docs/Web/API/WindowOrWorkerGlobalScope/fetch
fetchResponsePromise = fetch(resource, init);

[2019-10-24 20:58] #4 closed

[2019-12-10 14:35] blowsie opened #48 "useEvent, potential memory leak"
Do you think `useEvent` should call the `remove` method on `onUnmounted` by default?

[2019-12-10 14:43] blowsie commented on #48
my bad, it already does :)

[2019-12-10 14:43] #48 closed

[2019-12-10 14:54] blowsie opened #49 "useEvent: Typescript warning, Window !== RefTyped"
[code]

[2019-12-10 15:03] pikax commented on #49
quick fix is to cast as any

[code]

I will prepare a fix to go out

[2019-12-10 15:06] blowsie commented on #49
Well, im not actually using typescript in my project, but Webstorm is understand the types and throwing warnings.
Thanks!

[2019-12-10 15:13] #49 closed

[2019-12-10 17:40] pikax commented on #49
published [0.2.2](https://www.npmjs.com/package/vue-composable)

[2020-02-22 22:40] hawezo opened #153 "No `useBreakpointTailwindCSS` function"
There is a documentation for a [`useBreakpointTailwindCSS`](https://pikax.me/vue-composable/composable/breakpoint/breakpointTailwindCSS.html) function, but it isn't in the distributed package.

I'm using `vue-composable@^1.0.0-dev.9`, and there is only `useBreakpoint` available (which I doesn't seem to make working, by the way).

So, what am I missing? Did something not get published to NPM, or di

[2020-02-23 08:39] pikax commented on #153
The documentation is based on master, but that feature wasn't release, if you update to the latest 10 `vue-composable@^1.0.0-dev.10` you should get it there :)

Thanks for raising it, I need to publish more often :)

[2020-02-23 08:42] #153 closed

[2020-02-23 17:39] hawezo commented on #153
Thanks!

[2020-02-27 16:14] fer22f opened #158 "How to leverage useOnScroll and useStorage?"
I'm trying something like this:

[code]

But it stops working after shifting component around, the values do seem to work, but it no longer stores stuff into Storage.

[2020-02-27 20:51] pikax commented on #158
can you provide an reproducible example?

From what I can guess, it might be `div` gets reassigned, causing it to stop handing the scroll.

I'm working on a fix if that's the case, if not can you provide that example please?

[2020-02-27 22:10] fer22f commented on #158
Yea, it's when the div gets reassigned. Here's a repro:

[![Edit suspicious-snowflake-55plb](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/suspicious-snowflake-55plb?fontsize=14&hidenavigation=1&theme=dark)

[2020-02-27 23:40] #158 closed

[2020-02-27 23:45] pikax commented on #158
@fer22f

Thanks! 👍

Actually the error was on the `localStorage` returning an invalid ref.

Now you can change: `useOnScroll(div).scrollTop` directly and it will scroll the div :)

[2020-02-28 18:49] fer22f commented on #158
Oh nice, thanks!

Is there a terser way to do it than what I described?

[2020-02-28 19:49] pikax commented on #158
Nothing drastically different, just maybe reduce some `.value`

[code]

But that's more personal preference that something else

[2020-03-09 10:27] brandonpittman opened #167 "Fallback locale setting isn't being applied"
The I18n module should fallback to the fallback locale, but it isn't.

[code]

[code]

In the jp locale, it returns nothing. Am I missing something?

[2020-03-09 18:02] pikax commented on #167
That's absolutely correct, there's a bug when the locale is different than the fallback it won't load the fallback.

An hack for that is:
[code]

that will make it work. I'm working on a fix and I should release in the next few hours.

[2020-03-09 18:28] #167 closed

[2020-03-09 18:47] pikax commented on #167
This is fixed on [1.0.0-dev.15](https://github.com/pikax/vue-composable/releases/tag/v1.0.0-dev.15)

[2020-03-09 22:34] brandonpittman commented on #167
Thank you!

[2020-03-20 12:07] wizardnet972 opened #186 "Error in event handler for "hook:updated": "DataCloneError: Failed to execute 'postMessage' on 'BroadcastChannel'"
Here what I try to do: I want to resolve resource **only once**. but still have have the promise states.

So I use `usePromise` and `refShared`. in this way:
[code]

Works great, but I got this error:
[code]

The idea as I say is to execute the promise only once, and if I use the share anywhere in my app, it will get the same data and same state.

[2020-03-20 12:58] pikax commented on #186
What's happening is `usePromise` cannot be serialized

If you want to update only once, I recommend using `useSharedRef` on Master mode, and if the `editable.value === true` you can create the timeout or change the variable

[code]

refShared is using BroadcastChannelAPI to communicate with the other tab, one of the limitation is the data is serialized/deserialized, making very difficult to shared

[2020-03-20 14:43] wizardnet972 commented on #186
@pikax

Thank you!

[2020-03-20 14:43] #186 closed

[2020-03-23 17:54] wizardnet972 opened #188 "Why watch doesn't invoke when I usePromise?"
I'm using @vue/composition-api and usePromise from vue-composable.

I watch on computed value that return from a promise. the promise is resolve after 12000ms.
For the first time the computed and watch are invoked, but after 12000ms none of them is invoke. so the watch callback doesn't work. even the api.result is changed.

I can see that value changed in the template by printing: `{{items}}`.

Ho

[2020-03-23 18:43] pikax commented on #188
Not sure if I can reproduce, seems to be working:
[code]

[codesandbox](https://codesandbox.io/s/optimistic-glade-2yoy0), I updated the dependencies to the latest

[2020-03-26 11:26] #188 closed

[2020-03-26 11:32] wizardnet972 opened #194 "why usePromise.promise.value is null?"
I try to get the promise because I want to attach hook to the `then` callback. but I get undefined.

Is there a way to get the promise immediately after `usePromise` execute?

[code]

[code in codesandbox](https://codesandbox.io/s/romantic-goldwasser-88q1w)

[2020-03-26 12:17] pikax commented on #194
Currently the `usePromise` is only executed after `exec()` is called.

The reason for that is `usePromise` allows you to `exec` with arguments
[code]

But I'm thinking in changing the behaviour to execute immediately and add a options argument to allow to do lazy. But on the example above the `exec` would be called with `undefined`

My thoughts currently are:

[code]

My concern is the different b

[2020-03-26 12:39] wizardnet972 commented on #194
@pikax

[2020-03-27 20:39] #194 closed

[2020-03-27 21:03] pikax commented on #194
Released [1.0.0-dev.16](https://github.com/pikax/vue-composable/releases/tag/v1.0.0-dev.16)

Update the [documentation](https://pikax.me/vue-composable/composable/promise/promise.html) to reflect the changes

I decided to make the `usePromise` to exec straight away, if the `factory` has argument, a warning will be log.

Also added a sugar for lazy promises [usePromiseLazy](https://pikax.me/vue-com

[2020-03-31 16:26] wizardnet972 commented on #194
@pikax thank you :)

[2020-04-20 08:58] wulucxy opened #247 "axios client should be configurable"
Hi @pikax，I may have my own `axios` instance in the project，I think you have to provide the option to config `axios client`。

[2020-04-20 09:05] pikax commented on #247
That's a good idea thanks 👍

Would you pass your client on the first argument?

[code]

[2020-04-20 09:13] wulucxy commented on #247
@pikax，this is my suggestion:

[code]
so this is just an little change in current `useAxios` method，I would prefer this way.

[2020-04-20 09:45] pikax commented on #247
sounds good 👍

[2020-04-20 12:15] #247 closed

[2020-05-26 17:56] rijkvanzanten opened #317 "Composable idea: window title"
Hi there!

I came across the need of dynamically updating the html's meta tag and instead of running straight to the great [vue-meta](https://github.com/nuxt/vue-meta) I figured to have a look over here to see if there was a Vue composable available already.

Is this something you'd be interested in adding to `vue-composable`? I can provide a pull request to implement it if you'd like 🙂

[2020-05-26 19:56] pikax commented on #317
Hello there 🙂

New composables and ideas are always welcome.

What's your idea for the API?

[2020-05-26 20:41] rijkvanzanten commented on #317
I was thinking we could add a `useHead` function that takes an object of different head tag-types with values:

[code]

This would also allow us to later on add support for other tags you might find in `<head>` like `link` and `script`

---

Alternatively, we can split them up in dedicated composables like:

[code]

[code]

[2020-05-26 20:43] pikax commented on #317
Sounds good, we could have both, where the useHead would use the useMeta and useTitle

[2020-06-14 10:27] vmihailenco opened #364 "useOnResize: update width & height when mounted"
Currently width and height are not updated until window is resized (which may not happen at all). What do you think about using `onMounted` to set initial width & height, e.g. add something similar to https://github.com/pikax/vue-composable/blob/36c8b571365c066cac48d5a689a678f34df91d5f/packages/vue-composable/src/event/onResize.ts#L39-L40

[code]

What do you think?

[2020-06-14 10:59] vmihailenco opened #365 "useStrorage typing for numbers with TypeScript 3.9.5"
I am trying this example with latest vue-composable and composition-api plugin

[code]

which produces

[code]

Do you have any ideas what I am doing wrong?

[2020-06-14 16:28] pikax commented on #365
`useStorage` is missing one overload, thank you for raising

In mean time you can use `useLocalStorage` or  storage as a temporary measure

[2020-06-14 16:31] pikax commented on #364
Makes sense, it should wait for mount if you passing a `ref`

[2020-06-14 17:26] #365 closed

[2020-06-14 17:26] #364 closed

[2020-07-04 10:28] wizardnet972 opened #413 "Idea: Cancel the promise when beforeDestroy is triggered"
Idea: Cancel the promise when `beforeDestroy` is triggered.

The most cases (for me) when I use `usePromise`, I was need to cancel the promise/axios when the request took a long time and in meanwhile I navigate to another page.

I think it will be nice if `vue-composable` will support cancellation on `beforeDestory` event by demand.

Something like;
[code]

[2020-07-04 16:02] pikax commented on #413
That's possible with `useAxios` and `useFetch`, but as far as I know, you actually stop a promise in javascript.

But for `axios` and `fetch` that's a great idea 👍

[2020-07-05 06:35] wizardnet972 commented on #413
@pikax I think its simple just to add "beforeUnmount" option in `useCancellablePromise` and if true then call `cancel` in `onBeforeUnmount`. (check the code bellow, but read the all comment please)

On the other hand, when I use  `useCancellablePromise` with `axios` (not `useAxios`), it cancel the promise but not the request like `CancelToken` does (I still see the request pending in the network t

[2020-07-05 11:46] wizardnet972 opened #414 "How to chain thens in usePromise?"
How to attach `.then` functions to the loading property?

I have a function `getItems` that return array with ids after 20 seconds (like http).
[code]

and I call this function via `usePromise`:

const useApi = () => {
  const api = usePromise(() => getItems(), { lazy: true });
  return api;
};

In the setup function I call to useApi and pass the `loading` to the template, and I get the r with the

[2020-07-05 12:28] pikax commented on #414
When you do `.then` it will create a new promise, making the `useApi` not be aware of it.

What you can do is passing the function to the exec:
[code]

[codesandbox](https://codesandbox.io/s/vue-use-promise-fi70t?file=/src/main.js)

[2020-07-05 12:38] wizardnet972 commented on #414
@pikax thanks for your answer.

But what I think of is to use `useApi` as it is. and sometimes I want to do something after, and I want to control it in the host function.

I think about something like this to catch the error or the promise. [instead of try..catch..finally ](https://github.com/pikax/vue-composable/blob/master/packages/vue-composable/src/promise/promise.ts#L134).
[code]

This is me

[2020-07-05 12:57] pikax commented on #414
I don't think you can hook to the original promise.

[code]

[sandbox](https://codesandbox.io/s/vigilant-goldwasser-ds2qw?file=/src/App.vue)

That's a javascript behaviour, if you can provide a working example of hooking into a promised already created I really appreciate it :)

[2020-07-05 16:11] wizardnet972 commented on #414
@pikax Here what I suggest. I rewrite the `usePromise` (with same signature) but a different way to hook the promise. what do you think about it? can I send PR?

[sandbox](https://codesandbox.io/s/pedantic-http-0o4lb?file=/src/App.vue)

[code]

[2020-07-06 05:08] pikax commented on #414
That `usePromise` actually acts a bit different from what `usePromise` currently behaves.

The value is only resolved once, no matter how many times you call `exec.value` it will **always** resolve the first promise (won't call the factory anymore)

[2020-07-17 13:19] pikax opened #451 "Allow importing functions to `useWorkerFunction`"
`useWorkerFunction` should allow importing external functions to be used inside of it.

[2020-07-17 16:51] blowsie opened #452 "Bug: useBreakpointTailwindCSS with custom config is not reactive"
It seems that there is an issue with the handling or reactivity in the `useBreakpointTailwindCSS` composable when using a custom config.

Reproduction:
https://codesandbox.io/s/patient-fast-5nbsz

[2020-07-17 17:05] blowsie opened #453 "Bug: useBreakpoint `current` shows inspection warnings in webstorm IDE"
**Code**
[code]
**Warning**

 Inspection info: Checks that operands in comparisons have compatible types in JavaScript files. Operands of types without possible common values are reported.

[2020-07-18 09:13] #453 closed

[2020-07-18 09:17] #452 closed

[2020-07-20 09:14] pikax commented on #452
Yes, that's because the current is not able to be resolved because of the usage of the media queries.

It is the same behaviour as when you use `useBreakpoint` with a media query instead of number, you will see I can't resolve the current, since the media queries might be colliding with each other

[2020-07-20 09:26] blowsie commented on #452
I guess in my case I was not using media queries so I was expecting the same result.

I'm happy to use `useBreakpoint` and import my config values  manually , but it feels like I should have been able to use `useBreakpointTailwindCSS`

[2020-07-20 09:54] pikax commented on #452
Can you create a new issue please, I can get it done :)

[2020-07-20 12:44] blowsie opened #464 "Feat: Add `current` to useBreakpointTailwindCSS"
I think it would be rather handy if `useBreakpointTailwindCSS` had the `current` key value pair, just like `useBreakpoint`.

As per here
https://github.com/pikax/vue-composable/issues/452

[2020-07-24 09:29] #464 closed

[2020-08-05 16:17] blowsie opened #493 "Bug: useValidation does not populate $errors"
Coming from vuelidate alpha, when a value on my form is not valid `$errors` is automatically populated.

It looks something like this
[code]

I am then able to iterate over the errors to show the messages to the user, like so:
[code]

**Result:**
![image](https://user-images.githubusercontent.com/308572/89437262-417f6180-d73f-11ea-8133-1b31d636b8ce.png)

---
In vue composables, however the `$error

[2020-08-11 14:54] NickBolles opened #506 "UseTimeout"
I recently had a use case for a timeout that I could cancel, or run early. Specifically in my app it's a "redirecting" page, where there's a timeout of 3 seconds and a button to do the redirect immediately.

First off, is this possible with cancellablePromise or one of the other composables?

If not, maybe this would be a good addition? Somethings I added to it are:
- SSR version for doing the tim

[2020-08-15 01:17] beetaa opened #514 "I must say, this repo is really awesome!"
By combining composition-api with the concept of PLUGIN, I can see a bright future with this new thinking and practicing and, the code base is quite clean, useful. thank you.

[2020-08-15 16:19] #413 closed

[2020-08-15 16:24] #493 closed

[2020-08-16 17:36] blowsie commented on #514
I agree, and couldnt be more appreciative of the time and effort @pikax puts into this.
Personally I just opted to [sponsor](https://github.com/sponsors/pikax) him. I hope the vue core team recognise his contributions and make him part of the team ;)

[2020-08-17 07:43] pikax commented on #514
Thank you, composition-api opens the door for many reusable composables.

Thank you so much @blowsie 💚

I'm currently part of the team :) My main focus is the composition-api plugin and making typescript better within vue ecosystem 💙

[2020-08-28 07:44] unkn0wn1 opened #546 "Error building with vue3-rc9 and vue cli 4.5.4"
**[test]$ vue create rt2**

Vue CLI v4.5.4
? Please pick a preset: Default (Vue 3 Preview) ([Vue 3] babel, eslint)

Vue CLI v4.5.4
✨  Creating project in /test/rt2.
🗃  Initializing git repository...
⚙️  Installing CLI plugins. This might take a while...

setting up Git hooks
done

added 1241 packages from 919 contributors in 37.755s

50 packages are looking for funding
  run `npm fund` for details

[2020-08-28 09:09] pikax commented on #546
Good catch, thank you.

please use `1.0.0-beta.5`

Fixed https://github.com/pikax/vue-composable/commit/8f7dab40695798a0039be0acb29b9ff236c2f918

[2020-08-28 09:09] #546 closed

[2020-09-14 08:59] antfu opened #566 "Simplified sugar for useDevtoolsInspector"
`useDevtoolsInspector` is definitely a great idea and it's very helpful for debugging and track reactivity changes.

However, the current API seems a bit too complex for users to just plug in and test out like `console.log`. Giving the flexibility to customization is great, just wondering if it's possible to have a sugar overload or another function works like this:

[code]

Thanks!

[2020-09-14 20:56] pikax commented on #566
Yeah the current API for inspector is basically the raw API for devtools

I'll add a few more composables for that, thinking in having something like `useDevtoolsInspectorComponent('counter', counter)` which would append to that component automatically when inspecting the component

[2020-09-15 04:17] pikax commented on #566
Working on a PoC:

[code]

![image](https://user-images.githubusercontent.com/4620458/93164993-c2eceb00-f712-11ea-9379-f79d85920645.png)

[2020-09-15 04:23] antfu commented on #566
🤩 this is great!

[2020-09-15 04:59] #566 closed

[2020-09-22 09:35] XavierChevalier opened #582 "Typescript i18n with JSON file doesn't work"
Following [the documentation](https://pikax.me/vue-composable/composable/i18n/i18n.html#json-file) to the letter, typing with a JSON file does not work for me. No autocompletion is proposed.

I added the definition file with the import of my JSON, I made the dependency injection with the `setI18n` method. I also have the option `resolveJsonModule` to `true`.

![image](https://user-images.githubuse

[2020-09-22 09:47] pikax commented on #582
Can you provide an repo, it makes it easier to check the whole setup :)

[2020-09-22 15:53] XavierChevalier commented on #582
Of course, you will find a minimal repository reproducing the error here: https://github.com/XavierChevalier/vue-composable-i18n-autocompletion

The declaration file is here: https://github.com/XavierChevalier/vue-composable-i18n-autocompletion/blob/master/src/config/types/shims-i18n.d.ts

[2020-09-22 17:27] pikax commented on #582
Thank you for the repo.

Seems to be an issue with `vetur` the typing is correct is plain typescript

![image](https://user-images.githubusercontent.com/4620458/93916120-ef9b9680-fd00-11ea-833b-218cd4466bc2.png)

[2020-09-23 13:35] XavierChevalier commented on #582
For information, I use `PhpStorm 2020.2.1`.
`Build #PS-202.6948.87, built on August 27, 2020`.

[Vetur](https://github.com/vuejs/vetur) seems to be a package for VSCode isn't it?

And yes, I confirm that suffixing `as` with a TypeScript object typing works well!

[2020-09-24 08:40] fchu opened #585 "vue-composable doesn't install on docker images like alpine"
Hi there,

I've been seeing this issue when trying to install vue-composable on an alpine docker image:
[code]
With the following `Dockerfile`:
[code]
and `package.json`:
[code]

However when doing it locally it correctly runs (albeit throws an error since vue itself isn't installed):
[code]

I suppose maybe something about the postinstall script prevents it from correctly working on certain envir

[2020-09-24 12:54] pikax commented on #585
You need to add either Vue2 or vue3 as a dependency, vue composable doesn't ship with Vue dependency

[2020-09-24 12:54] #585 closed

[2020-09-24 17:53] fchu commented on #585
Sorry, I was just trying to provide the minimal reproducible steps.

The issue is not the absence of Vue as a peer dependency, but about the `postinstall` script incorrectly running and crashing on docker image (`node:alpine` specifically):
- on Mac: script run fine (_Expected_ behavior is the warning about Vue being not installed)
- on node:alpine: script crashes and `npm install` exit with error

[2020-09-25 00:31] aparajita opened #586 "Tree shaking?"
This is truly an awesome library, not only for its functionality but also as a great example of the coding paradign the composition API enables.

Have you looked into how well the library tree shakes?

[2020-09-30 15:11] MeisterTea opened #593 "i18n: replace locale after setup"
Hi, I tried setting my locale inside vuex in order to be able to change in without reloading my app but I am getting this warning: `provide() can only be used inside setup().`

I tried calling `setI18n` inside a watchEffect but I guess the composition api doesn't allow that.

Is there any method to call to update the current locale inside of i18n?

[2020-10-02 17:05] aparajita commented on #586
Ah, just saw "with aggressive tree-shaking to keep it light on your end code" in the Readme.

[2020-10-02 17:05] #586 closed

[2020-10-03 08:08] pikax commented on #582
I have no experience with PHPStorm, but it should work, the way they resolve the typing is different, but if they use typescript language server it should work.

Can you please confirm if the types works on a typescript file?

[2020-10-03 08:08] pikax commented on #593
Can you provide code?

[2020-10-05 07:32] pikax commented on #586
Thank you.

If you have webpack or rollup configured to tree-shake, it should extract everything that's not used out-of-box

[2020-10-15 11:25] pikax opened #609 "useLocalStorage: not updating the value"
If the initial state is { [key]: undefined }, it's committed to localStorage as "{}".
If you don't mutate it, and reload, the reactivity breaks.
You can't assign to deep variables, and you can't watch them.

https://codesandbox.io/s/vue-composable-localstorage-reloaded-empty-state-bug-i1yqd
https://i1yqd.csb.app/

Without clicking on the buttons, reload the page.
Then click on the two first button

[2020-10-28 17:57] tatemz opened #640 "Support scrollBy for incremental scrolling"
It would be nice if `useOnScroll` could customize the scroll behavior using `scrollBy`

https://css-tricks.com/snippets/jquery/smooth-scrolling/

[2020-10-29 08:14] pikax commented on #640
That sounds good, any other methods that would be nice to have?

[2020-10-31 09:18] #640 closed

[2020-11-01 09:46] pikax commented on #593
`set/use` functions need to be called in the setup, because they need to call `provide/inject`.

wrong usage:
[code]

Depending on what you are intending to do, you have a couple choices, my recommendation is to `useI18n` on the setup and then `addLocale` or `removeLocale` as you please on `whatchEffect`

I'll be closing this, since this has been also inactive for abut a month, if you still having

[2020-11-01 09:47] #593 closed

[2020-11-01 09:51] pikax commented on #582
I'll be closing this due to inactivity, the typing is working on typescript projects (vscode), phpstorm, webstorm and other editors, should be using typescrip language server, if they do and with the correct configuration ([using json](https://pikax.me/vue-composable/composable/i18n/i18n.html#json-file)

If you still need some help, reply or open a new issue :)

[2020-11-01 09:51] #582 closed

[2020-11-01 09:55] pikax commented on #506
Thank you and sorry for taking so long, I was thinking in adding this, but I never got the time, if you don't mind in PR it, I will appreciated a lot.

[2020-12-07 16:05] kabforks opened #681 "Is vue-composable IE11 compatible?"
Hello!

Awesome repo!

Just wondering, is this repo IE11 compatible?

Cheers!

[2020-12-07 16:34] pikax commented on #681
Hey, thanks.

There shouldn't be any specific code that prevents IE11 usage (AFAIK)

I opened the docs https://pikax.me/vue-composable/composable/date/performanceNow.html#methods on IE11 and it's working

[2020-12-07 16:36] kabforks commented on #681
Thanks for testing! Clever to just test the docs..

I guess my problem is related to transpiling of some sorts.

[2020-12-07 16:50] pikax commented on #681
Please check https://cli.vuejs.org/guide/browser-compatibility.html#browserslist (if you are using vue-cli) and make sure you are transpiling to the correct javascript version for IE11

Feel free to open another issue if any of the composables don't work on IE11 :)

[2020-12-07 16:50] #681 closed

[2020-12-08 10:11] ux-engineer opened #684 "useOnScroll throwing errors"
- vue-composable 1.0.0-beta.12
- vue 2.6.12
- @vue/composition-api 1.0.0-beta.21

[code]

[code]

[2020-12-08 11:41] pikax commented on #684
Can you provide your template code?

Are you assigning `tableElementRef` to a HTML element?

[2020-12-08 18:14] ux-engineer commented on #684
@pikax ah, ok, I was applying the template ref into a library component. Adding it to a native element cleared the errors.

However, it's not working yet. No scrolling happens. The documentation is quite thin on how to actually use it.

I'm trying to programmatically scroll the viewport up to a component, and hopefully doing a smooth scroll?

[2020-12-09 08:47] pikax commented on #684
I need to do some work on the documentation.

The way it work is:
You pass a `ref` with [template ref](https://github.com/vuejs/composition-api#template-refs), internally the composable will basically do
[code]

[useOnScroll](https://github.com/pikax/vue-composable/blob/master/packages/vue-composable/src/event/onScroll.ts) is intended to be a wrapper for the HTMLElement.

Currently calling `scroll

[2020-12-09 11:54] ux-engineer commented on #684
@pikax sorry but I still could not figure out how to use this - could you post a full setup code example on how to scroll top to a specific element?

[2020-12-09 11:56] pikax commented on #684
If you provide code somewhere where I can have a look, I can help you better.

[2020-12-09 13:14] ux-engineer commented on #684
@pikax here's basically my stripped-down version. scrollTop.value is giving 0 and scrollTo method is not doing anything?

[code]

[2020-12-09 14:11] ux-engineer commented on #684
Logging of `titleRef.value` shows that the element is found.

[2020-12-09 14:23] ux-engineer commented on #684
Using `scrollTopTo(150);` quirks up my layout. It seems plausible that as I'm using simplebar-vue scrollbar library and these contents are within such a scrollable container, that it somehow doesn't along with your composable.

[2020-12-09 15:36] pikax commented on #684
Seems you're using it incorrectly, definitely something the docs are not very clear.

The element passed to the `useOnScroll` needs to be a scrollable element, that element is the one that shows the scrollbar.

At the least in your example, the element who scrolls is the window document, in your case you can change the code to:

[code]

[2020-12-09 16:28] ux-engineer commented on #684
@pikax got it working using vue-scrollTo library. Needed to use `.simplebar-content-wrapper` as the container, so should be able to get it work with your composable using that container.

How would this be done in practice?

[2020-12-09 16:30] pikax commented on #684
[code]

[2020-12-09 17:23] ux-engineer commented on #684
@pikax thanks, smooth scrolling works now.

However I'm still having problem scrolling to the ref'fed element, as `offsetTop` is giving me value like 20 which is relative to it's own parent and not the scroll container or document? Could I just pass the element href to the method for it to scroll there, and options as the second param?

[2020-12-09 17:27] pikax commented on #684
Have you tried to use `scrollIntoView`?

[code]

[2020-12-09 20:41] ux-engineer commented on #684
@pikax how to define scroll container if titleRef is given as the param for useOnScroll() instead of scroll container?

[2020-12-09 21:58] pikax commented on #684
if you want to scroll to that component, you probably can you [scrollIntoView](https://developer.mozilla.org/en-US/docs/Web/API/Element/scrollIntoView) if you provide an example, I might to be able more, but so far it seems `useOnScroll`  is working as intended.

[2020-12-10 05:49] ux-engineer commented on #684
@pikax I mean I got this working only by specifying the scroll container by passing it to `useOnScroll`. If `scrollIntoView` working by passing the element to which to scroll to `useOnScroll`, how can I specify the scroll container when doing so?

[2020-12-21 07:48] Trendymen opened #704 "useCancellablePromise: calling exec() every time after calling cancel(), the cancelled.value will always be true."
After calling cancel() once, calling the exec() in next time, the cancelled.value will always be true.

[2020-12-21 14:54] #704 closed

[2021-01-06 07:47] userquin opened #722 "Question: how to clear validation once validation failed?"
Hi, is there a way to clear validation status?

I have a form and I can validate before submit, it will be fine to include a reset.

Great work.

[2021-01-06 13:31] pikax commented on #722
The validation status should be cleared on when the user changes the `value`, can you provide more info on your use case?

I currently don't see how a `clear` would be useful

[2021-01-06 15:18] userquin commented on #722
@pikax

I configure the error on each component, using something similar to material design, a simplified version, so I need to validate and collect errors from each input to show the first one inside its corresponding input.

![imagen](https://user-images.githubusercontent.com/6311119/103783412-fc869080-5038-11eb-9277-0899956c8e44.png)

Each page contains (I have a multi-form page) a set of input

[2021-01-06 15:29] userquin commented on #722
I dont know if vuelidate has the concept of clearing errors, but if you see for example vee-validate you can do this and more, it is hard and complex but it can be done.

For example, what about if we need to fill errors from server side response?

[2021-01-06 16:00] pikax commented on #722
What does it mean `clear` for the library? Because if you initialise a validation with a prepopulated an required input with `today` and then reset the validation what do you expect the value to be cleared or set to the default `today`?

This is a bit trickier, because you are using the `validation` as the form controller (instead of validation controller), which it can be used to, but not really

[2021-01-06 16:28] userquin commented on #722
@pikax

You are missing we have a UI, if the user do not touch nothing on the screen, why the library do a validation? I undertand your point of view, but it is not a problem where to put things or where to remove any others.

If I have a form with 200 fields all required, the first time a user enter on the page, the validation cannot take place, or at least control if we can show or hide it. Just

[2021-01-06 16:49] pikax commented on #722
If the user doesn't change anything in the UI, the `$dirty` should not be set to `true`, it will remain as `false` until the `$value` is changed. That's should be working

The validation will run and it will set `$invalid` to true, because the value is invalid even tho is the initial value, but it won't populate the `$errors`  until it's dirty (eg: `$value` is changed)

As I said `dirty` and `touc

[2021-01-06 17:13] userquin commented on #722
I'll try to playing with a plain and works as expected. The problem, I have a ton of pages with a ton of inputs, so it is too repetitive, and just create a SFC for each type.

I have the following, I think the problem is in the model of the SFC input:

page > form > custom-input1 + custom-input2....

Each page creates a validator object with custom validations (generic async functions):

[code]

T

[2021-01-06 17:25] userquin commented on #722
Ok, changing 2 things works, but still necessary to clear data:

1. Removed v-model on page:
[code]
2. Removed model from SFC and converter to computed and adjust dirty to use it from validator object:
[code]

and just set the v-model of the input pointing to `$value`:
[code]

[2021-01-06 17:33] userquin commented on #722
So, I can set $dirty=false and problem solved?

[2021-01-06 20:23] userquin commented on #722
There is no way, I have tried all possible combinations, finally I just recreate the object as you suggest...

thx

[2021-01-06 20:23] #722 closed

[2021-01-13 14:38] blowsie opened #729 "useI18n locale contains `default` when using import"
Importing locale via `import` causes extra `default` object in the i18n state

**setup**
[code]

**en-en**
[code]

**es-es**
[code]

[2021-01-16 09:00] #729 closed

[2021-01-23 06:59] jy-js commented on #506
Hi pikax, I love this repo and I want to participate this repo, so I add a new composable useTimeout, do you have time to review my PR? @pikax

[2021-01-27 11:35] MechJosh0 opened #743 "debounce type is being exported but with no function"
The function `debounce` is exported and available according to Typescript but the variable is `undefined` when used. I assume the type of the function is being exported but not the function itself, with the type being exported in error.

[2021-01-27 11:55] pikax commented on #743
It should be available and work 🤔

Can you provide a repo?

[2021-01-27 12:35] MechJosh0 commented on #743
Ah, it is working :) My fault, sorry.

My issue was I'm building a component/composable library and forgot to list `vue-composable` as an external dependency so it was being built correctly and nothing from `vue-composable` was being made available in the main project. `debounce` was the only one I tested (due to naming conflict) and because it wasn't documented I thought it was exported in error.

[2021-01-27 12:35] #743 closed

[2021-01-27 12:37] pikax commented on #743
Is not documented because is being used by `useDebounce` and `debouncedRef`, I expose the internals because I use them in my other projects with vue-composable 😄

[2021-02-04 09:40] felipe-muner opened #753 "How to reset the form after submit and keep the validation"
Hello my friends...

I'm using vue-composable and everything is going well I did many different forms following the [explanation](https://pikax.me/vue-composable/composable/validation/validation.html)..

My issue is how could I reset the form and keep the validation(very important)...

when i follow the code:

[code]

 it works fine

but I don't know how to print the errors if some of them are inv

[2021-02-17 22:46] runarberg opened #768 "Interval missing from doc TOC sidebar"
[Interval](https://pikax.me/vue-composable/composable/misc/interval.html) is currently missing from the “Misc” section in the TOC sidebar.

![Screenshot from sidebar misc section, missing the “Interval” sub-section](https://user-images.githubusercontent.com/3984600/108277631-978d8280-712e-11eb-846a-8fdbe8539d6c.png)

[2021-02-18 01:49] runarberg opened #769 "Persist errors for `usePromise` while loading"
I would like an option for `usePromise` that makes errors persist while the next `exec` call is resolving. The current behavior is that `error` is set to null, immediately after`exec` is called (at the same time as `loading` is set to `true`). However I think it could be useful to opt to alter this behavior such that `error` will not be unset until the next promise settles, i.e. it will either bec

[2021-02-18 02:10] runarberg commented on #769
On second though, this might not be that useful. What I really wanted was to stop an interval stream if an error is encountered (similar to how an observable would work) and there is a trivial way to do that:

[code]

Then I can manually restart the polling if by listening to a button click if I wanted to.

[2021-02-18 02:10] #769 closed

[2021-02-19 15:25] jacekkarczmarczyk opened #776 "useLocalStorage could accept ref as a key"
Now it accepts only strings:

[code]

If the key is dynamic one should be able to do the following:

[code]

That would of course apply to other similar composables (`useSessionStorage` etc) as well  as those not related to the storage, ex.
[code]
but it's ok if that issue is only for `useLocalStorage`

[2021-02-20 09:33] pikax commented on #776
What should be the expected behaviour if the `localStorage` has already a value with that key, do we update the value ref to the localStorage value or do we update the localStorage value to the same has the ref value?

On a first thought the other composables would be save to use ref key

[2021-02-20 09:47] #768 closed

[2021-02-20 10:22] jacekkarczmarczyk commented on #776
IMHO it should update the value ref to the localStorage.

Let me show the (close to) real life example: there's a list of Foo items with pagination and possibility of choosing how many items per page are displayed, that value is stored in LS, and there's also list of Bar items with the same functionality, using the same component but with different `:type="'Foo' | 'Bar'"` prop, and there's a switc

[2021-02-20 11:55] #753 closed

[2021-02-20 11:56] pikax commented on #753
Added `$touch/$reset` functions which will allow you to update the `$dirty`

[2021-02-21 08:42] #776 closed

[2021-02-21 19:28] wojexe opened #778 "Module has no exported member"
After importing `import { useCssVariables } from "vue-composable"` in the `setup()` function, accessing `const { supported } = useCssVariables({})`, program return this error: `TS2305: Module '"../../../node_modules/vue-composable/dist/vue-composable"' has no exported member 'useCssVariables'.`

I am using vue3 with TypeScript.

I have previously installed the package with `npm install --save vue-

[2021-02-22 09:08] pikax commented on #778
Thank you for reporting, do you mind providing a repo?

I've tried on my vite playground but couldn't reproduce it

[2021-02-24 22:47] wojexe commented on #778
Sorry for the delay. I've created a repo simillar to the one I had problems with, and the issue persisted. Here's a link to download the repo archived in a zip file: https://file.io/VBvt7aiMBjSo

[2021-02-25 11:08] pikax commented on #778
No worries, thank you, but it doesn't allow me to download it :D because the file has been deleted

[2021-02-25 13:58] Herdismaria commented on #778
Same happens for usei18n.
Just updated from `1.0.0-beta.11` to `1.0.0-beta.18`

[2021-02-25 14:12] pikax commented on #778
Can you run `node node_modules/vue-composable/scripts/postinstall.js`  on your project root folder? it might had an error installing the correct version

[2021-02-25 16:11] wojexe commented on #778
Whoops. This link should work for 14 days from now on: http://transfer.sh/6GaVQ/vue-composable-repo.zip
Also, I forgot to notice, my working device runs is elementaryOS

[2021-02-25 18:23] wojexe commented on #778
![image](https://user-images.githubusercontent.com/21208490/109198773-e7a7bd00-779e-11eb-89b3-106cbeb1c670.png)
The problem persists for me after running postinstall.js manually

[2021-02-25 18:33] pikax commented on #778
That is caused by typescript version, the supported version is `typescript@4` and it's using `~3.9`

[2021-02-25 21:48] wojexe commented on #778
Oh. So it was this trivial 😁️.
As for me, this typescript version was installed by default by `vue-cli` and it did not get updated once I've installed `vue-composable`; you may consider adding a disclaimer about the minimum typescript version required to the project's readme, so people won't encounted this problem in the future.
I'm closing the issue as my problem got solved. Thanks for help and k

[2021-02-25 21:48] #778 closed

[2021-02-26 12:15] pikax commented on #778
Just added, glad to see it fixed, I usually keep my typescript on the latest on all my projects.

@Herdismaria do you still have the same problem after updating to typescript@4?

[2021-02-26 12:19] Herdismaria commented on #778
No, that was the issue for me also. Thanks a lot for the help and for this awesome library 💯

[2021-03-03 12:57] zhbhun commented on #585
I meet same issue.

[2021-03-10 09:52] codanator opened #802 "Error during esm build"
Hey,

iam building with vite 2.0.5 and getting this error:

3339: }
3340: function useTitle(overrideTitle = null) {
3341:     if ((('process' in globalThis ? globalThis.process.env.SSR : 'import' in globalThis ? globalThis.import.meta.env.SSR : false) == true) && !isClient) {
                                                     ^
3342:         return useSSRTitle(overrideTitle);
3343:     }
error d

[2021-03-16 14:44] blowsie opened #810 "docs: VModel page returns 404"
Repro:
https://www.npmjs.com/package/vue-composable

Click VModel

![image](https://user-images.githubusercontent.com/308572/111328339-0eeaff00-8666-11eb-8f98-0e2ea43c233f.png)

[2021-03-24 15:08] nandi95 opened #818 "useVModel: throw error if instance is not defined."
Returning a `ref` in the `useVModel` is somewhat unexpected as it isn't interacting with the props but would still work as expected. This might cause confusion as to why values are not being emitted or worse yet despite the `getCurrentInstance()` console warning, making it into production.

I think an error should be thrown causing the script to terminate.
This could be considered a breaking chang

[2021-03-25 08:22] #818 closed

[2021-03-27 09:02] #810 closed

[2021-03-27 09:07] #802 closed

[2021-04-06 14:39] negezor commented on #753
The $dirty change will only happen once, after $reset() it won't work anymore.

https://github.com/pikax/vue-composable/blob/c7e795461a928ab6c649e710279f8634ad34a05a/packages/vue-composable/src/validation/validation.ts#L239-L246

[2021-04-16 03:28] shufangyi opened #852 "Use both vue-composable and any cjs module (such as vuedraggable) in vite, resulting in an error!"
In [vue-composable.esm-bundler.js]

if change

[code]

to
[code]

then
[code]

this error will be solved!

example 👉  [link](https://github.com/shufangyi/vite-vue/tree/show-vue-composable-error)

[2021-04-16 08:06] pikax commented on #852
Can't open your example link, maybe is private, do you mind making public?

[2021-04-16 09:38] shufangyi commented on #852
My mis! Now its public!

[2021-04-17 10:32] pikax commented on #852
After talking with @patak-js this issue can be solved by adding `dedup` to `vite.config`

[code]

[2021-04-17 12:44] shufangyi commented on #852
I have tried the configure `dedupe: ["vue"]`.
Somehow it doesnot work...😢

[2021-04-17 13:36] pikax commented on #852
That's odd, I've this working here:
[vite-vue-show-vue-composable-error.zip](https://github.com/pikax/vue-composable/files/6329321/vite-vue-show-vue-composable-error.zip)

I've deleted the `node_modules` and try it again, and couldn't see the error, do you mind try it again?

[2021-04-17 14:04] shufangyi commented on #852
I even restart my comput...

the same error -> [image](https://drive.google.com/file/d/1ij2u_18_0614ot7eFyMLBp8p7g1-aPJ_/view?usp=sharing)

[2021-04-17 14:15] shufangyi commented on #852
I downloaded the zip file you provided.
 - yarn
 - yarn dev --force

[2021-04-19 02:36] jcppman commented on #852
Same here.

Tried the example @pikax provided and it can render the page correctly but once I drag any item this throws:

[code]

## My env:
- node v15.5.0
- yarn v1.22.10
- chrome 89.0.4389.128 (Official Build) (x86_64)

[2021-04-24 08:11] #852 closed

[2021-06-23 18:26] CalebKester commented on #852
Just putting this here as a followup. I was running into the issue as I think it was similar to what's being reported here. Or maybe it's related to the dedupe vite fix. Anyways, I was trying to get vue-composable to work in yarn workspace (monorepo) and was running into the error. Eventually I fixed it by installing @next which looks like it's `1.0.0-alpha.37` I'm not sure why that worked and bet

[2021-07-27 09:38] brent-williams opened #993 "Idle suggestion"
Just a suggestion, the Vue 3 world seems to be crying out for a composable-friendly idle event.  Neither of the Vue 2 stalwarts (v-idle & idle-vue) have a working Vue 3 branch.  A straightforward implementation would only need wrap idle-js.  Feel free to close if not in the scope of this project.  Great library keep it up!

[2021-08-25 18:24] walfly opened #1001 "useBreakpoints throws error on older safari"
I created pr #1000 to fix this.

[2021-09-23 20:45] ux-engineer commented on #684
@pikax can `scrollIntoView` method do a smooth scrolling instead of jumping immediately to the position, or is it working wrong with my setup?

[2021-10-19 06:54] damienroche opened #1008 "Feat/add axios composable"
Hi there,
it would be nice to have access to a `boolean` like `isFinished` (like in vueUse/useAxios ) to indicates if the request is finished.
For example, this boolean can be useful is this case :

[code]

[2021-12-04 13:46] CaoMeiYouRen opened #1009 "`usetitle` does not work"
[code]

[code]

I think it is caused by the following code
[code]
This is because `import` is a keyword, not an attribute of `globalThis`, so `globalThis.import`  is always  `undefined`

[2021-12-20 00:23] fockboi-lgtm opened #1010 "[Security] Workflow docs.yml is using vulnerable action actions/checkout"
The workflow docs.yml is referencing action actions/checkout using references v1. However this reference is missing the commit [a6747255bd19d7a757dbdda8c654a9f84db19839](https://github.com/actions/checkout/commits/a6747255bd19d7a757dbdda8c654a9f84db19839) which may contain fix to the some vulnerability.
The vulnerability fix that is missing by actions version could be related to:
(1) CVE fix
(2) u

[2022-01-20 09:46] RanxinStart commented on #1009
You can try adding this environment variable in vite config
[code]

[2022-01-20 15:09] CaoMeiYouRen commented on #1009
Thank you. The problem is solved

[2022-01-20 15:09] #1009 closed

[2022-01-25 14:15] johannes-z opened #1014 "Allow Ref<Vue> for useOnOutsidePress"
When using a `ref` on a Vue component, useOnOutsidePress throws an error, because the Vue component doesn't have a method called `contains`. The function should check if `element.value.$el` exists.

[2022-03-27 06:53] enix-app opened #1019 "Array Pagination"
Can I create a surrounded pagination with array like below:
[code]

I want to create pagination with Bootstrap 5 & VueJS 3.

Thankyou. This library is very helpful.

[2022-03-30 21:48] #1019 closed

[2022-04-06 22:29] wishinghand opened #1020 "I'm confused on nested validations"
If I have a component like so:

[code]

I'm unsure of how to bubble up the errors to be collected in the top level `useValidation` instance

[2022-04-24 20:04] therealshark opened #1022 "VueUse vs. vue.composable"
Hi :)

i'm currently looking into using some composables and found both this lib and https://vueuse.org/. It seems, they are quite similar, are they connected in any way?

[2022-07-10 16:36] CaoMeiYouRen opened #1029 "Vue 2.7 no longer requires @vue/composition-api"
Please refer to
https://github.com/vuejs/vue/compare/v2.7.0-beta.8...v2.7.0
https://github.com/vuejs/vue/blob/main/CHANGELOG.md

So please modify the part about Vue version judgment in "scripts/postinstall.js"

[2022-07-23 10:11] pikax commented on #1022
Hey, not related, just a different approach, VueUse started was created around the same time as vue-composable, antfu made an awesome work building a community around it, unless you really want a specific composable from this library, I will probably recommend VueUse over vue-composable, since I don't have much time to maintain it :(

[2022-08-19 09:44] mihalcea-bogdan-daniel opened #1032 "It would be better with element.getBoundingClientRect()"
https://github.com/pikax/vue-composable/blob/879528a1aa7633b9c594021d196ab9df37c41ddd/packages/vue-composable/src/dom/mouseDistanceFromElement.ts#L54

I don't have time right now to fork-fix-pull request. I will do it in 1 week from now if you want.

Awesome repository! ❤️

[2022-08-19 09:49] mihalcea-bogdan-daniel commented on #1032
Something like this I did.
[code]

[2022-08-30 15:40] JonathanLee-LX commented on #1029
when i upgrade to vue2.7, some functions type do not work. eg Ref

[2022-10-14 17:37] johnrossporter opened #1034 "RefShared DOMException error if data contains array"
When using refShared and modifying data, I am getting the following error in browser console:

`Uncaught (in promise) DOMException: Failed to execute 'postMessage' on 'BroadcastChannel': [object Array] could not be cloned.
    at send (http://127.0.0.1:5173/node_modules/.vite/deps/vue-composable.js?v=feda6e83:1262:22)
    at watch.deep (http://127.0.0.1:5173/node_modules/.vite/deps/vue-composable.